    <% include menu.ejs %>


		<!-- partial -->
		<div class="main-panel">
		<!-- CONTENT AQUI! -->

		<div class="content-wrapper">
			<div class="col-md-12 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">				
					

					<div style="display: flex; justify-content: space-between; margin-bottom: 30px">
						<h4 class="card-title">Criação de ingresso</h4>
          	<a href="getSessoes" class="btn btn-success">Lista de sessões</a>
					</div>
					
						<form class="forms-sample" action="createIngresso" method="POST">

								<div class="form-group">
										<label for="exampleInputEmail1">Digite o nome do cliente: </label>
										<input class="form-control" name="cliente" placeholder="Ex: João Pedro">
								</div>

								<div class="form-group">
										<label for="exampleFormControlSelect2">Escolha a sessão</label>
										<select class="form-control" name="idSessao">
												<% for (var i in sessoes) { %> 

												<option value="<%= sessoes[i].idSessao %>">Filme: <%= sessoes[i].nome %> || Sala:  <%= sessoes[i].salas_id %></option>   
						
												<% } %>
										</select>
								</div>

								<button type="submit" class="btn btn-success mr-2">Gerar ingresso</button>
						</form>                   
						
					</div>
				</div>
			</div>
		</div>

		<!-- content-wrapper ends -->
		<!-- partial:partials/_footer.html -->
			<footer class="footer">
				<div class="container-fluid clearfix">
				<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Desenvolvido por Emanoel Johannes e Maria Júlia</i>
				</span>
				</div>
			</footer>
			<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->

	
		</div>
	</div>

	<!-- plugins:js -->
	<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
	<script src="/assets/vendors/js/vendor.bundle.addons.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script src="/assets/js/off-canvas.js"></script>
	<script src="/assets/js/misc.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script src="/assets/js/dashboard.js"></script>
	<!-- Include the Quill library -->
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

</body>

</html>